<div class="list-group">
    {% for slug,course in courses %}
        <a href="{{ url('app_catalog_view', {slug: slug}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ course.name | upper }}</h5>
            </div>
            <p class="mb-1">
                {{ course.synopsis }}
            </p>
        </a>
    {% endfor %}
</div>
